body {
    text-align: center;
    background-color: grey;
    font-family: Times 'Times New Roman', Times, serif;

}

#header {
    padding: 11px;
    font-family: Times 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: bold;
}

#body h2 {
    font-size: 30px;
    font-style: bold;

}

input {
    padding: 10px;
    font-style: italic;
    font-size: 15px;
    border-radius: 10px;
    width: 250px;
}

#dropbox {
    padding: 8px;
    font-style: italic;
    font-size: 15px;
    width: 200px;
    border-radius: 10px;

}

#loginbutton {
    padding: 10px;
    font-style: italic;
    font-size: 15px;
    width: 120px;
    background-color: blue;
    border-radius: 20px;

}
#registerbutton {
    padding: 8px;
    font-style: italic;
    font-size: 15px;
    width: 120px;
    background-color: rgb(137, 207, 61);
    border-radius: 20px;

}
#credit{
    text-align: right;
    
    font-style: italic;
}